<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="WebBasedLearningSystemConnectionString" connectionString="Data Source=DESKTOP-6O9F2OR;Initial Catalog=WebBasedLearningSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WebBasedLearningSystemConnectionString2" connectionString="Data Source=DESKTOP-6O9F2OR;Initial Catalog=WebBasedLearningSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WebBasedLearningSystemConnectionString3" connectionString="Data Source=DESKTOP-6O9F2OR;Initial Catalog=WebBasedLearningSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WebBasedLearningSystemConnectionString4" connectionString="Data Source=DESKTOP-6O9F2OR;Initial Catalog=WebBasedLearningSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WebBasedLearningSystemConnectionString5" connectionString="Data Source=DESKTOP-6O9F2OR;Initial Catalog=WebBasedLearningSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="database" connectionString ="Data Source= DESKTOP-6O9F2OR; Integrated Security=True; Initial Catalog=WebBasedLearningSystem" providername="System.Data.SqlClint"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
